<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>techConnect</title>
  </head>
  <body>
    <h1>techConnect</h1>
    <a href="/login">Login</a>
    <a href="/register">Register</a>

  </body>
</html>
