<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>techConnect</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/tc.css">
  <link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">





  </head>
  <body>
    <h1 class ="tC-index">techConnect<i class="fas fa-globe"></i></h1>
    <h3 class="slogan">Add Another Key Component To Your Life</h3>
    <div class="btn-container">
    <a class="l-r-b" href="/login">Login</a>
    <a class="l-r-b" href="/register">Register</a>
    </div>

  </body>
</html>
