<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/tc.css">
    <link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="interest_header_container">
        <h1 class="interest_header">Interests</h1>
    </div>
    <h5 class="common_interests">Common Interests</h5>
    <form action="/interests" method="post">
        <div class="options_container">
            <div class="row">
        <p class="col s4">
            <input id="angular" type="checkbox" name="interests" value="Angular.js" />
            <label class="interest" for="angular">Angular.js</label>
        </p>
        <p class="col s4">
            <input id="c++" type="checkbox" name="interests" value="C++" />
            <label class="interest" for="c++">C++</label>
        </p>
        <p class="col s4">
            <input id="c#" type="checkbox" name="interests" value="C#" />
            <label class="interest" for="c#">C#</label>
        </p>
        </div>
        <div class="row">
        <p class="col s4">
            <input id="css" type="checkbox" name="interests" value="CSS" />
            <label class="interest" for="css">CSS</label>
        </p>
        <p class="col s4">
            <input id="html" type="checkbox" name="interests" value="HTML" />
            <label class="interest" for="html">HTML</label>
        </p>
        <p class="col s4">
            <input id="java" type="checkbox" name="interests" value="Java" />
            <label class="interest" for="java">Java</label>
        </p>
        </div>
        <div class="row">
        <p class="col s4">
            <input id="javascript" type="checkbox" name="interests" value="Javascript" />
            <label class="interest" for="javascript">Javascript</label>
        </p>
        <p class="col s4">
            <input id="python" type="checkbox" name="interests" value="Python" />
            <label class="interest" for="python">Python</label>
        </p>
        <p class="col s4">
            <input id="react" type="checkbox" name="interests" value="React" />
            <label class="interest" for="react">React</label>
        </p>
        </div>
        <div class="row">
        <p class="col s4">
            <input id="ruby" type="checkbox" name="interests" value="Ruby" />
            <label class="interest" for="ruby">Ruby</label>
        </p>
        <p class="col s4">
            <input id="swift" type="checkbox" name="interests" value="Swift" />
            <label class="interest" for="swift">Swift</label>
        </p>
        <p class="col s4">
            <input id="vue" type="checkbox" name="interests" value="Vue.js" />
            <label class="interest" for="vue">Vue.js</label>
            </p>
        </div>
    </div>
    <h4 class="interest_editor">Add Your Own Interest</h4>
    <div class="input_container">
        <input class="interest_input" type="text" name="cInterest" placeholder="Add your own interest">
    </div>
    <div class="login_btn_container">
      <button class="login-btn" type="submit">Add</button>
    </div>
</form>



</body>
</html>
