<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="/static/stylesheets/tc.css">
    <link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">
    <title>Login</title>
  </head>
  <body>
<<<<<<< HEAD
    <div class="container">
      <div class="container">
        <div class="header_container">
          <h1 class="login_header">Login</h1>
        </div>
        <form action="/login" method="post">
          <div class="container">
            <input class="col s12" required type="text" name="log_username" placeholder="Username">
            <input class="col s12" required type="password" name="log_password" placeholder="Password">
          </div>
          <div class="login_btn_container">
            <button class="login-btn" type="submit" name="">Submit</button>
          </div>
        </form>
=======
    <div class="header_container">
    <h1 class="login_header_pgtwo">Login</h1>
    </div>
    <form action="/login" method="post">
      <input class="login_input" required type="text" name="log_username" placeholder="Username">
      <input class="login_input" required type="password" name="log_password" placeholder="Password">
      <div class="login_btn_container">
      <button class="login-btn button" type="submit" name="">Submit</button>
>>>>>>> 48fd3029bf3a2a7b391bd4669756427ec6a85112
      </div>
    </div>
  </body>
</html>
