<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form class="" action="/login" method="post">
      <input required type="text" name="log_username" placeholder="Username">
      <input required type="password" name="log_password" placeholder="Password">
      <button type="submit" name="">Login</button>
    </form>
  </body>
</html>
