<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/tc.css">
  <link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">


  </head>
  <body>
    <div class="container">
      <div class="container">
        <div class="header_container">
          <h1 class="login_header">Register</h1>
        </div>
        <form action="/register" method="post">
          <div class="container">
            <input class="col s12" required type="email" name="email" placeholder="Email">
            <input class="col s12" required type="password" name="password" placeholder="Password">
            <input class="col s12" required type="password" name="cPassword" placeholder="Confirm Password">
          </div>
          <div class="login_btn_container">
            <button class="login-btn" type="submit" name="">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
