body {
    margin: 0 !important;
    background-color: #e0e0e0;
}

.tC-index {
    color: white;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    font-family: 'Miriam Libre', sans-serif;
    letter-spacing: -6px;
    background-color: #ff6f00;
    border: 1px solid #ff6f00;
    margin-top: 150px;
    text-align: center;
    font-size: 10em;
}
.slogan {
    font-family: 'Miriam Libre', sans-serif;
    text-align: center;
    font-size: 2em;
}

.fas.fa-globe{
    margin-left: 15px;
    font-size: 0.9em;
}

.btn-container {
    text-align: center !important;
    margin-top: 200px;
}

.l-r-b {
    font-family: 'Miriam Libre', sans-serif;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 2.5em;
    color: white;
    background-color: #ff6f00;
    padding: 0px 8px;
}

    .button:hover {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    transform: scale(1.1);
}


/* Login and Register */
.login_header{
    color: white;
    font-family: 'Miriam Libre', sans-serif;
    letter-spacing: -6px;
    background-color: #ff6f00;
    border-top: 1px solid #ff6f00;
    border-bottom: 1px solid #ff6f00;;
    margin-top: 100px;
    text-align: center;
    font-size: 80px;
}

.header_container{
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
}

.login_btn_container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.login-btn{
    font-family: 'Miriam Libre', sans-serif;
    border-radius: 5px;
    font-size: 1.3em;
    color: white;
    background-color: #ff6f00;
    padding: 0px 8px;
    box-shadow: 0px 0px 3px 0px rgba(187, 69, 69, 0) !important;
    transform: scale(1.1);
    width: 30%;
}

textarea {
  resize: vertical;
}

input:focus {
  border-bottom-color: #ff6f00 !important;
}

button:focus {
  background-color: #ff6f00 !important;
}


/* Dashboard */
.nav_header-container{
    margin-top: 0 !important;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0);
    background-color: #ff6f00;
}

.nav-header {
  font-family: 'Miriam Libre', sans-serif;
  letter-spacing: -6px;
  margin-top: 0px;
  font-size: 50px;
  display: inline;
}

.nav-img {
  margin-top: 10%;
}

.small-image-circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.user_name{
    font-family: 'Miriam Libre', sans-serif;
    letter-spacing: -6px;
    margin-top: 150px;
    text-align: center;
    font-size: 80px;
}










.dashboard_fnln{
    font-family: 'Miriam Libre', sans-serif;
    color: #546e7a;
    text-align: center;
}

.username{
    font-family: 'Miriam Libre', sans-serif;
    color: #546e7a;
    text-align: center;
}

.profile_pic_container{
    display: flex;
    justify-content: center;
}

.dashboard_profile_pic{
  max-height: 300px;
}

.user_age{
text-align: center;
}
